body {
    font-family: 'JetBrains Mono', monospace;
    /* background-color: #F8FAFD; */
    background-color: #010409;
}

.radius-sm {
    border-radius: 10px !important;
}

.radius-md {
    border-radius: 20px !important;
}

.radius-lg {
    border-radius: 50px !important;
}

.profile-card {
    border: 1px solid #e1e1e1;
    padding: 20px;
    border-radius: 8px;
    background-color: #212529;
}
.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto 20px auto;
    border: 5px solid rgb(35, 189, 213);
}
.social-icons a {
    font-size: 1.5rem;
    color: snow;
    text-decoration: none;
}
.social-icons a:hover {
    color: #007bff;
}
.project-card {
    border: 1px solid #e1e1e1;
    border-radius: 8px;
    margin-bottom: 20px;
    background-color: #212529;
}
.project-image-lg {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.project-image {
    width: 100%;
    border-radius: 8px 8px 0 0;
}
.project-info {
    padding: 15px;
}
.skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.skills-list span {
    font-weight: bold;
    background-color: #4f4f64;
    border-radius: 50px;
    padding: 10px 20px;
}
.project-tag {
    font-size: 13px;
    color: #468191;
    background-color: #cff5ff;
    padding: 5px;
    border-radius: 20px;
}

.profile-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}
.profile-img-sm {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}
.card {
    border-radius: 10px;
}
.tag {
    display: inline-block;
    background-color: #4f4f64;
    color: #DEE2E6;
    padding: 5px 10px;
    font-size: 0.9rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.tag:hover {
    background-color: #fff;
    color: #000;
}
.profile-description {
    color: gray;
    font-size: small;
}

@media (min-width: 992px) {
    .bg-dimmed {
        background-color: #28454d;
    }
}
.text-sm {
    font-size: 12px;
}

.bg-cyan {
    background-color: #a1deed;
}