<nav class="navbar bg-dark border-bottom border-body sticky-top navbar-expand-lg" data-bs-theme="dark">
    <div class="container">
        <a class="navbar-brand" href="/">DevHub</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item radius-md bg-dimmed me-2">
                    <a href="{% url 'users:profiles' %}" class="nav-link" aria-current="page">
                        <i class="fa-solid fa-users"></i> Developers
                    </a>
                </li>
                <li class="nav-item radius-md bg-dimmed me-2">
                    <a href="#" class="nav-link">
                        <i class="fa-solid fa-briefcase"></i> Projects
                    </a>
                </li>
                
                {% if request.user.is_authenticated %}
                    <li class="nav-item dropdown radius-md bg-dimmed">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="fas fa-user"></i> Profile
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{% url 'users:account' %}" class="dropdown-item">
                                    <i class="fa-solid fa-user me-2"></i> Account
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <button
                                    data-bs-toggle="modal"
                                    data-bs-target="#modal"
                                    hx-get="{% url 'users:logout' %}"
                                    hx-target="#dialog"
                                    class="dropdown-item text-danger">
                                    <i class="fa-solid fa-sign-out-alt me-2"></i> Logout
                                </button>
                            </li>
                            
                        </ul>
                    </li>
                {% else %}
                    <li class="nav-item radius-md bg-dimmed me-2">
                        <a href="{% url 'account_login' %}" class="nav-link">
                            <i class="fa-solid fa-sign-in"></i> Sign In / Sign Up
                        </a>
                    </li>
                {% endif %}
            </ul>
            <form class="d-flex" action="{% url 'users:profiles' %}">
                <input name="search_query" class="form-control me-2 radius-md" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light radius-md d-flex align-items-center" type="submit">
                    <i class="fas fa-search me-2"></i> Search
                </button>
            </form>
        </div>
    </div>
</nav>