{% extends 'layouts/blank.html' %}

{% block content %}
    
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="profile-card text-center shadow position-relative p-3">

                <button 
                    type="button" 
                    class="btn position-absolute top-0 end-0 m-3 text-decoration-none text-muted"
                    data-bs-toggle="modal"
                    data-bs-target="#modal"
                    hx-get="{% url 'users:edit_profile' %}"
                    hx-target="#dialog"
                >
                    <i class="fas fa-edit fa-lg"></i>
                </button>

                <div class="profile-info" hx-get="{% url 'users:profile_info' %}" hx-trigger="load, profileInfoChanged from:body">
                    {% include 'users/includes/profile_info.html' %}
                </div>
            
                <button class="btn btn-primary radius-md w-100">Send Message</button>
            </div>
            
        </div>

        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12 mb-4">
                    <h3>About Me</h3>
                    <p>{{ profile.about_info }}</p>
                </div>

                <div class="col-md-12 mb-4">
                    <h3>Skills</h3>

                    <button 
                        type="button" 
                        class="btn btn-info radius-md"
                        data-bs-toggle="modal"
                        data-bs-target="#modal"
                        hx-get="{% url 'users:add_skill' %}"
                        hx-target="#dialog"
                    >
                        Add a skill
                    </button>

                    <div class="skills-list mt-2" 
                    hx-get="{% url 'users:skill_list' %}"
                    hx-trigger="load, skillListChanged from:body"
                    >
                        <span>Loading...</span>
                    </div>
                </div>

                <div class="col-md-12 mb-4">
                    <h3>Projects</h3>
                    <div class="row">
                        <!-- Project 1 -->
                        <div class="col-md-6 mb-4">
                            <div class="project-card shadow">
                                <img src="../static/img/c2.png" alt="Project 1" class="project-image">
                                <div class="project-info">
                                    <h5>Project Name 1</h5>
                                    <p class="text-muted">by Username</p>
                                    <div class="tags">
                                        <span class="project-tag mt-1">Python</span>
                                        <span class="project-tag">Django</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Project 2 -->
                        <div class="col-md-6 mb-4">
                            <div class="project-card shadow">
                                <img src="../static/img/c3.png" alt="Project 2" class="project-image">
                                <div class="project-info">
                                    <h5>Project Name 2</h5>
                                    <p class="text-muted">by Username</p>
                                    <div class="tags">
                                        <span class="project-tag mt-1">Python</span>
                                        <span class="project-tag">Django</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Project 3 -->
                        <div class="col-md-6 mb-4">
                            <div class="project-card shadow">
                                <img src="../static/img/c2.png" alt="Project 3" class="project-image">
                                <div class="project-info">
                                    <h5>Project Name 3</h5>
                                    <p class="text-muted">by Username</p>
                                    <div class="tags">
                                        <span class="project-tag mt-1">Python</span>
                                        <span class="project-tag">Django</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Project 4 -->
                        <div class="col-md-6 mb-4">
                            <div class="project-card shadow">
                                <img src="../static/img/c3.png" alt="Project 4" class="project-image">
                                <div class="project-info">
                                    <h5>Project Name 4</h5>
                                    <p class="text-muted">by Username</p>
                                    <div class="tags">
                                        <span class="project-tag mt-1">Python</span>
                                        <span class="project-tag">Django</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}