{% extends 'layouts/blank.html' %}

{% block content %}
    
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="profile-card text-center shadow position-relative p-3 radius-md">
                
                <!-- edit profile -->
                <button 
                    type="button" 
                    class="btn position-absolute top-0 end-0 m-3 text-decoration-none text-muted"
                    data-bs-toggle="modal"
                    data-bs-target="#modal"
                    hx-get="{% url 'users:edit_profile' %}"
                    hx-target="#dialog"
                >
                    <i class="fas fa-edit fa-lg"></i>
                </button>

                <div class="profile-info" hx-get="{% url 'users:profile_info' %}" hx-trigger="load, profileInfoChanged from:body">
                </div>

                <div class="socials" hx-get="{% url 'users:social_list' %}" hx-trigger="load, socialListChanged from:body">
                </div>

                <!-- add social -->
                <button
                    type="button"
                    class="btn btn-primary btn-sm radius-md mb-3"
                    data-bs-toggle="modal"
                    data-bs-target="#modal"
                    hx-get="{% url 'users:add_social' %}"
                    hx-target="#dialog"
                >
                    <i class="fas fa-plus"></i> Add social
                </button>
            
                <button class="btn btn-primary radius-md w-100">
                    <i class="fas fa-paper-plane"></i> Send Message
                </button>
            </div>
            
        </div>

        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12 mb-4">
                    <div class="card border-0">
                        <div class="card-body">
                            <h3>About Me</h3>
                            <p>{{ profile.about_info }}</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 mb-4">
                    <h3>Skills</h3>

                    <button 
                        type="button" 
                        class="btn btn-primary btn-sm radius-md"
                        data-bs-toggle="modal"
                        data-bs-target="#modal"
                        hx-get="{% url 'users:add_skill' %}"
                        hx-target="#dialog"
                    >
                        <i class="fas fa-plus"></i> Add skill
                    </button>

                    <div class="skills-list mt-2" 
                        hx-get="{% url 'users:skill_list' %}"
                        hx-trigger="load, skillListChanged from:body"
                    >
                        <span>Loading...</span>
                    </div>
                </div>

                <div class="col-md-12 mb-4">
                    <h3>Projects</h3>

                    <button 
                        type="button" 
                        class="btn btn-primary btn-sm radius-md mb-2"
                        data-bs-toggle="modal"
                        data-bs-target="#modal"
                        hx-get="{% url 'projects:add_project' %}"
                        hx-target="#dialog"
                    >
                        <i class="fas fa-plus"></i> Add project
                    </button>

                    <div class="row"
                        hx-get="{% url 'projects:project_list' %}"
                        hx-trigger="load, projectsChanged from:body"
                    >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}