{% block content %}
    
<form 
    hx-post="{{ url }}" 
    class="modal-content radius-md" 
    enctype="multipart/form-data" 
    hx-encoding="multipart/form-data"
    hx-trigger="submit"
>
    {% csrf_token %}

    <div class="modal-header">
        <h4>{{ page }} Project</h4>
    </div>

    <div class="modal-body">
        {{ form.as_p }}
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary radius-md" type="submit">Confirm</button>
        <button type="button" class="btn btn-secondary radius-md" data-bs-dismiss="modal">Close</button>
    </div>
    
</form>

{% endblock content %}