
{% block content %}
    
<form 
    hx-post="{{ url }}" 
    class="modal-content radius-md" 
    enctype="multipart/form-data" 
    hx-encoding="multipart/form-data"
    hx-trigger="submit"
>
    {% csrf_token %}

    <div class="modal-header">
        <h4>{{ page }} Project</h4>
    </div>

    <div class="modal-body d-flex gap-4">
        <div class="w-50">
            {{ form.as_p }}
        </div>

        <div class="w-50">
            <h5 class="mt-3">Upload Media</h5>

            {{ formset.management_form }}

            <div id="media-formset">
                {% for form in formset %}
                    <div class="mb-2 p-2 border rounded media-form">
                        {{ form.as_p }}
                    </div>
                {% endfor %}

                <div id="empty-form" class="d-none">
                    {{ formset.empty_form }}
                </div>
            </div>

            <button id="add-more" type="button" class="btn btn-outline-primary mt-3">
                Add Media
            </button>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary radius-md" type="submit">Confirm</button>
        <button type="button" class="btn btn-secondary radius-md" data-bs-dismiss="modal">Close</button>
    </div>
    
</form>

<script>

    var addMoreBtn = document.getElementById('add-more')
    var totalNewForms = document.getElementById('id_media-TOTAL_FORMS')

    addMoreBtn.addEventListener('click', add_new_form)
    
    function add_new_form(event) {
        if (event) {
            event.preventDefault()
        }

        var currentMediaForms = document.getElementsByClassName('media-form')

        let currentFormCount = currentMediaForms.length

        const formCopyTarget = document.getElementById('media-formset')
        var copyEmptyFormEl = document.getElementById('empty-form').cloneNode(true)

        copyEmptyFormEl.setAttribute('class', 'mb-2 p-2 border rounded media-form')
        copyEmptyFormEl.setAttribute('id', `form-${currentFormCount}`)

        const regex = new RegExp('__prefix__', 'g')
        copyEmptyFormEl.innerHTML = copyEmptyFormEl.innerHTML.replace(regex, currentFormCount)

        totalNewForms.setAttribute('value', currentFormCount + 1)

        formCopyTarget.append(copyEmptyFormEl)
    }
    
</script>

{% endblock content %}
